{% extends "base.html" %}

{% block content %}
  <h1>About</h1>

  <p>
    <strong>Game Collector</strong> ipsum dolor sit amet consectetur adipisicing elit. Rem esse consequuntur praesentium autem rerum repudiandae inventore odit illum omnis ab officiis laboriosam ad qui aperiam vero id reprehenderit dolorem commodi, hic consectetur voluptates officia voluptatem dolor aspernatur! Libero reprehenderit harum placeat minus similique at numquam quae aliquid excepturi! Minus quasi aliquam, eligendi enim corrupti, non debitis cum nostrum reprehenderit unde officia similique, assumenda velit optio quibusdam nesciunt fugiat nam. Recusandae qui sint veniam quos quasi cupiditate, fugit, molestiae sequi facere ducimus, consequatur quia vitae non nam maxime quis reiciendis iusto iure.
  </p>
{% endblock %}
