:root {
  /*===== COLORS =====*/
  --body-bg-col: #bbb;
  --main-col: #333;
  --main-transparent-overlay: #3333;
  --main-transparent-overlay-hover: #3335;
  --nav-bg-col: #777;
  --nav-link-bg-hover-col: #333;
  --nav-link-col: #bbb;
  --nav-link-hover-col: white;
  --nav-name-col: #333;
}


/*===== GLOBAL =====*/

* {
  box-sizing: border-box;
  cursor: default;
  font-family: sans-serif;
  margin: 0;
}

body {
  background-color: var(--body-bg-col);
  height: 100vh;
  overscroll-behavior: none;
}

a, a * {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

form {
  margin: 0 auto;
  width: 70%;
}

form div {
  display: grid;
  gap: 2vmin;
  grid-template-columns: 20% 1fr;
  margin-bottom: 2vmin;
}

form div:first-of-type {
  margin-top: 4vmin;
}

form div:last-of-type {
  margin: 2vmin 0 4vmin;
}

form div > label {
  align-items: center;
  display: flex;
  font-size: 2vmin;
  font-weight: bold;
  justify-content: flex-end;
}

form div > input {
  border: none;
  border-radius: 0.5vmin;
  font-size: 1.75vmin;
  padding: 0.5vmin 1vmin;
}

form div > input:focus {
  outline: none;
}

form input[type='submit'] {
  background-color: var(--main-transparent-overlay);
  border: none;
  border-radius: 0.5vmin;
  color: var(--body-bg-col);
  cursor: pointer;
  font-size: 1.85vmin;
  margin-left: calc(50% - 10vmin);
  padding: 0.5vmin 0;
  transition: 0.1s ease-in-out;
  width: 20vmin;
}

form input[type='submit']:hover {
  background-color: var(--nav-link-bg-hover-col);
  color: var(--nav-link-hover-col);
  font-weight: bold;
}


/*===== NAV =====*/

nav {
  align-items: center;
  background-color: var(--nav-bg-col);
  box-shadow: 0 0 1.25vmin black;
  display: flex;
  height: 8vmin;
  justify-content: space-between;
  padding: 0 2vmin;
}

#nav-name {
  color: var(--nav-name-col);
  font-size: 3vmin;
  font-weight: bold;
  transition: 0.1s ease-in-out;
}

#nav-name:hover {
  color: var(--nav-link-col);
}

.nav-link {
  border-radius: 0.5vmin;
  color: var(--nav-link-col);
  display: inline-block;
  font-size: 2vmin;
  padding: 0.25vmin 0;
  text-align: center;
  transition: 0.1s ease-in-out;
  width: 12vmin;
}

.nav-link:hover {
  background-color: var(--nav-link-bg-hover-col);
  color: var(--nav-link-hover-col);
  font-weight: bold;
}


/*===== MAIN =====*/

main {
  color: var(--main-col);
  padding: 3vmin 16vmin 0;
}

main > h1 {
  border-bottom: 3px double var(--nav-bg-col);
  display: block;
  font-size: 4.5vmin;
}

main p {
  font-size: 1.85vmin;
  margin-top: 3vmin;
}


/*===== GAMES =====*/

#games-container {
  padding: 3vmin 2vmin 0;
}

.game-frame {
  background-color: var(--main-transparent-overlay);
  border-radius: 1vmin;
  display: block;
  height: 20vmin;
  margin-bottom: 3vmin;
  padding: 1vmin 1.5vmin;
}

a.game-frame {
  transition: 0.15s ease-in-out;
}

a.game-frame:hover {
  background-color: var(--main-transparent-overlay-hover);
}

.game-title {
  border-bottom: 1px solid var(--main-transparent-overlay);
  display: block;
  font-size: 2.5vmin;
  font-weight: bold;
}

.game-data {
  display: block;
  font-size: 2vmin;
  margin-top: 0.5vmin;
}


/*===== RESPONSIVE =====*/

@media only screen and (orientation: portrait) {
  main {
    padding: 3vmin 8vmin 0;
  }
}
