{% extends 'base.html' %}

{% block content %}
  <h1>{{ game.title }}</h1>

  <div id='games-container'>
    <div class='game-frame'>
      <span class='game-data'>Players: {{ game.players }}</span>
      <span class='game-data'>Playing time: {{ game.playing_time }}</span>
      <span class='game-data'>Complexity: {{ game.complexity }} / 5</span>
      <div class='game-buttons'>
        <a class='edit' href='{% url "games_update" game.id %}'>Edit</a>
        <form action='{% url "games_delete" game.id %}' method='POST'>
          {% csrf_token %}
          <input class='delete' type='submit' value='Delete'/>
        </form>
      </div>
    </div>

    <div class='game-session-list'>
      <h1>Sessions</h1>
      {% for session in game.gamesession_set.all %}
        <div class='game-session'>
          <span>{{ session.date }}</span>
          <span>{{ session.playing_time }}</span>
          <span><strong>Winner:</strong> {{ session.winner }}</span>
        </div>
      {% empty %}
        <p>No {{ game.title }} sessions logged</p>
      {% endfor %}
    </div>

    <form action='{% url "add_session" game.id %}' method='POST'>
      {% csrf_token %}
      {{ session_form }}
      <input type='submit' value='Add Session'/>
    </form>
  </div>

  <div class='venues-list'>
    <div class='included-venues'>
      <h1>{{ game.title }} events</h1>
      {% if game.venues.count %}
        {% for venue in game.venues.all %}
          <p style='display: inline-block'>
            {{ venue.name }} (capacity: {{ venue.max_players }})
          </p>
          <form
            action='{% url "exclude_venue" game.id venue.id %}'
            method='POST'
          >
            {% csrf_token %}
            <button type='submit'>Exclude Venue</button>
          </form>
        {% endfor %}
      {% else %}
        <p>No venues with events</p>
      {% endif %}
    </div>

    <div class='excluded-venues'>
      <h1>Available venues</h1>
      {% if venues.count %}
        {% for venue in venues.all %}
          <p style='display: inline-block'>
            {{ venue.name }} (capacity: {{ venue.max_players }})
          </p>
          <form
            action='{% url "include_venue" game.id venue.id %}'
            method='POST'
          >
            {% csrf_token %}
            <button type='submit'>Include Venue</button>
          </form>
        {% endfor %}
      {% else %}
        <p>All venues offer events</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
